<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="/flagments/header::header">
    <title>Home</title>
  </th:block>
</head>
<body class="materialdesign">

<th:block th:replace="/flagments/sidebar::sidebar"></th:block>
<div class="container">
  <div class="row justify-content-md-center ">
     <div class="col-md-7">
       <div class="user-profile-img">
         <img src="img/notification/5.jpg" alt="">
       </div>
       <div class="row ">
         <div class="col-lg-12">
           <div class="user-profile-wrap shadow-reset">
             <div class="row">
               <div class="col col-lg-4">
                 <div class="img-thumbnail">
                   <div th:if="${result.getImage() != null}">
                     <img class="info" th:attr="src=@{${result.getImage()}}"/>
                   </div>
                 </div>
               </div>
               <div class="col col-lg-7">
                 <div class="user-profile-social-list">
                   <table class="table small m-b-xs">
                     <tbody>
                     <tr>
                       <td>
                         <strong>Full Name</strong>
                       </td>
                       <td colspan="3" th:text="${invoice.getUser().getFullName()}">
                       </td>
                     </tr>
                     <tr>
                       <td>
                         <strong>Address</strong>
                       </td>
                       <td colspan="3" th:text="${invoice.address}">
                       </td>
                     </tr>
                     <tr>
                       <td>
                         <strong>Phone</strong>
                       </td>
                       <td colspan="3" th:text="${invoice.getPhoneNumber()}">
                       </td>
                     </tr>
                     <tr>
                       <td colspan="4" class="col-lg-2">
                         <strong>Product list</strong>
                       </td>
                     </tr>
                     <tr th:each="item,count : ${invoice.getInvoiceDetails()}">
                      <td th:text="${count.index}"></td>
                       <td class="col-lg-4" th:text="${item.getProduct().getProductDisplayName()}">
                       </td>
                       <td class="col-lg-3" th:text="${item.getTotal()}">
                       </td>
                       <td class="col-lg-3" th:text="${item.getProduct().getPrice()+' $'}">
                       </td>
                     </tr>
                     <tr>
                       <td colspan="3">
                         <strong>Price</strong>
                       </td>
                       <td th:text="${invoice.getPriceTotal()+' $'}">
                       </td>
                     </tr>
                     </tbody>
                   </table>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
  </div>
</div>
<th:block th:replace="/flagments/footer::footer"></th:block>
</body>
</html>