<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/flagments/header::header">
        <title>Invoice</title>
    </th:block>
</head>
<body class="materialdesign">
<th:block th:replace="/flagments/sidebar::sidebar"></th:block>

<div class="admin-dashone-data-table-area">
    <div class="data-table-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sparkline13-list shadow-reset">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <a th:href="@{/invoice/add.html}"><button type="button" class="login-button">add</button></a>
                            </div>
                        </div>
                        <div class="sparkline13-graph">
                            <div class="datatable-dashv1-list custom-datatable-overright">
                                <div id="toolbar">
                                    <select class="form-control">
                                        <option value="">Export Basic</option>
                                        <option value="all">Export All</option>
                                        <option value="selected">Export Selected</option>
                                    </select>
                                </div>
                                <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                    <thead>
                                    <tr>
                                        <th data-checkbox="true"></th>
                                        <th data-field="name" >Name</th>
                                        <th data-field="address" >Address</th>
                                        <th data-field="phone" >Phone</th>
                                        <th data-field="price" >Price</th>
                                        <th >Action</th>
                                    </tr>
                                    </thead>
                                    <tbody >
                                    <tr th:each=" invoice :${list}">
                                        <td></td>
                                        <td th:text="${invoice.getUser().getFullName()}">name</td>
                                        <td th:text="${invoice.getAddress()}">phone</td>
                                        <td th:text="${invoice.getPhoneNumber()}">address</td>
                                        <td th:text="${invoice.getPriceTotal()+' $'}">address</td>
                                        <td>
                                            <div class="btn-group project-list-action">
                                                <a th:href="@{'/invoice/detail.html/' + ${invoice.getId()}}"> <button class="btn btn-white btn-xs"><i class="fa fa-search"></i> Detail</button></a>
                                            </div>
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="/flagments/footer::footer"></th:block>
</body>
</html>